* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14pt;
    line-height: 1.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 40em;
    margin: 1em auto 1em;
    padding: 1em;
    border: 1px dashed;
}

h2 {
    font-family: sans-serif;
}

ul {
    margin-block: 1em;
    padding-left: 50px;
}
