* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.7;
}

.screen {
    width: 95vh;
    height: 95vh;
    border: 1px dashed;
    border-radius: 25px;
    box-shadow: 0 0 0 rgba(0,0,0,.1);
}
