* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.7;
}

.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}