* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    min-height: 95vh;
    height: auto;
    background-color: #0b0b19;
}

.container {
    position: relative;
    width: 75vw;
    min-height: 95vh;
    top: 0;
}

.lamp {
    position: relative;
    width: 3px;
    height: 40vh;
    left: 50%;
    transform: translateX(-50%);
    background: #555;
    border-radius: 10px;
    transform-origin: top center;
    animation: swing 2s infinite ease-in-out;
}

.top {
    content: '';
    position: absolute;
    top: 39vh;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 5px;
    border-radius: 50% 50% 0 0;
    background-color: #555;
}

.lamp-head {
    position: absolute;
    top: 39.6vh;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 70px;
    border-radius: 50% 50% 0 0;
    background-color: #000;
}

.bottom {
    content: '';
    position: absolute;
    top: calc(39vh + 70px);
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 10px;
    border-radius: 100%;
    background-color: #777;
    opacity: 0.2;
    z-index: -1;
}

.bulb {
    position: absolute;
    top: calc(39vh + 65px);
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 20px 10px #fff;
    z-index: -1;
}

@keyframes swing {
    0% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

.control {
    position: absolute;
    display: flex;
    gap: 2.5rem;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: verdana, sans-serif;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    border-radius: 20px;
    cursor: pointer;
}

select {
    background-color: #0e0e22;
    padding-left: 5px;
    color: #999;
    border: 1px solid #999;
    border-radius: 20px;
    cursor: pointer;
    font-family: verdana, sans-serif;
}

option {
    background-color: #0e0e22;
    color: #999;
}