
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Urbanist','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(#1b2629, #111);
    color: #fff;
}

/*disable link*/

.backlog {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
    text-decoration: none;
}

/*nav*/

nav {
    position: fixed;
    top: 5%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem 0 2rem;
    list-style-type: none;
    animation: nav-animation 1s;
}

.nav-item {
    padding: .4rem;
    border-radius: 15px;
    color: #b6ffde;
}

nav a:hover {
    color: #e9fff5;
    transform: none;
    scale: 1.1;
    transition: .3s;
}

nav a.active {
    background: #202d27;
    color: #fff;
}

@media (max-width: 600px) {
    .nav-menu {
        font-size: 14px;
        gap: .5rem;
    }
}

@media (max-width: 400px) {
    .nav-menu {
        font-size: 12px;
        gap: .4rem;
    }
}

@media (min-width: 768px) {
    .nav-menu {
        gap: 3rem;
    }
}

@keyframes nav-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**/

.archive-title {
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
    text-decoration: underline;
    animation: archive-animation .8s ease-in-out;
}

details {
    text-align: center;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
    animation: archive-animation .8s ease-in-out;
}

details a {
    display: block;
    margin: 1rem 0 1rem 0;
    /* color: #feaf41; */
    color: #d9ffd7;
    text-decoration: none;
    transition: .3s;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

a:hover {
    transform: translateY(-6px);
}


@keyframes archive-animation {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
    }
}
