*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Urbanist','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(#1b2629, #111);
    color: #fff;
}

/*disable link*/

.backlog {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
    text-decoration: none;
}

/*homepage*/

.toHomebtn {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s;
    padding: .2rem .3rem .2rem .2rem;
    border: 1px solid rgb(255, 255, 255, .1);
    color: rgb(255, 255, 255, .7);
    animation: toHomebtn-animation 2s forwards;
    animation-delay: .3s;
    opacity: 0;
}

.toHomebtn:hover {
    transform: translate(-50%, -50%) translateY(-6px);
}

@keyframes toHomebtn-animation {
    0%, 25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**/

.archive-title {
    font-size: 1.5rem;
    margin: 0 0 3rem 0;
    text-decoration: underline;
    animation: archive-animation .8s ease-in-out;
}

details {
    text-align: center;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
    animation: archive-animation .8s ease-in-out;
}

a {
    display: block;
    margin: 1rem 0 1rem 0;
    /* color: #feaf41; */
    color: #d9ffd7;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    transform: translateY(-6px);
}

@keyframes archive-animation {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
    }
}
