*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family:'Urbanist', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(#1b2629, #111);
    color: #fff;
}

/*disable link*/

.backlog {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
    text-decoration: none;
}

/*nav*/

nav {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    animation: nav-animation 1s;
}

.nav-menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.nav-item {
    color: #ceffe9;
    transition: .3s;
}

.nav-item:hover {
    transform: translateY(-6px);
}

@media (max-width: 425px) {
    .nav-menu {
        font-size: 14px;
    }
    .nav-menu {
        gap: .5rem;
    }
}

@keyframes nav-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*index.html*/

.title {
    margin: 2rem 0 2rem 0;
    text-align: center;
    font-size: 2.5rem;
    animation: main-page-fadeIn .8s ease-in-out;
}

.subtitle {
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: .75rem;
    color: #44606a;
    animation: main-page-fadeIn .8s ease-in-out;
}

.github-wrapper{
    animation: main-page-fadeIn .8s ease-in-out;
}

.fa-brands.fa-github {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    margin: 1rem 0 0 0;
    animation: main-page-fadeIn .8s ease-in-out;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

a:hover {
    transform: translateY(-6px);
}

.content a {
    padding: .5rem;
    text-align: center;
    outline: 1px solid;
    border-radius: 8px;
}

.github-wrapper:hover {
    color: #cefeff;
}

.fa-brands.fa-github:hover {
    color: #cefeff;
}

.about-hover:hover {
    color: #c4ffd0;
}

.projects-hover:hover {
    color: #b7f3ff;
}

.dependencies-hover:hover {
    color: #9ff1dd;
}

.archive-hover:hover {
    color: #bef8ab;
}

@keyframes main-page-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*about.html*/

.about-container {
    padding: 2rem;
    width: 85%;
    line-height: 1.7;
    outline: 1px solid #bbfcd5;
    animation: about-animation .8s ease-in-out;
}

@media (min-width: 768px) {
    .about-container {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .about-container {
        width: 50%;
    }
}

@media (min-width: 1440px) {
    .about-container {
        width: 40%;
    }
}

@keyframes about-animation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
    }
}

/*projects.html*/

.projects-title {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    text-decoration: underline;
    animation: projects-animation .8s ease-in-out;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    animation: projects-animation .8s ease-in-out;
}

.projects-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    outline: 1px inset #d0eed9;
}

@media (max-width: 375px) {
    .projects-container {
        gap: 1rem;
    }
}

@keyframes projects-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
    }
}

/*dependencies.html*/

.dependencies-title {
    font-size: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
    text-decoration: underline;
    animation: dependencies-animation .8s ease-in-out;
}

.dependencies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 60%;
    max-width: 600px;
}

.dependencies {
    margin: 0;
    padding: .5em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 1px #8393a2;
    animation: dependencies-animation .8s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dependencies-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dependencies-item ul {
    margin: 0;
    padding: 0;
}

.dependencies-item ul li {
    margin: .1rem 0 .1rem 0;
}

@media (min-width: 600px) {
    .dependencies-container {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .dependencies-container {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .dependencies-container {
        width: 30%;
    }
}

.category {
    margin: .3rem 0 .3rem 0;
    font-size: 1rem;
}

.dependencies-item {
    margin: .5rem 0 .5rem 0;
    font-size: .9rem;
}

.dependencies-item ul {
    list-style-type: none;
}

@keyframes dependencies-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
    }
    
}

/* --> archive.css

*/
